# GHE PAT
PAT=your_github_pat_here

# W3 email and password
H3N_USER=your_email@ibm.com
H3N_PASS=your_password_here

# W3 email and Artifactory PAT
ARTIFACTORY_USER=your_email@ibm.com
ARTIFACTORY_API_KEY=your_artifactory_api_key_here

# Name given on H3N to box
TWYD_H3N_SYS_NAME=your_h3n_system_name