-Djava.class.path={{ IMS_JAVA_HOME }}/imsudb.jar:{{ ANSIBLE_DIR }}/nazare-ims-jmp-1.0.0-SNAPSHOT.jar:{{ DB2_JAVA_HOME }}/jdbc/classes/db2jcc.jar:{{ DB2_JAVA_HOME }}/jdbc/classes/db2jcc_license_cisuz.jar
-Djava.library.path={{ IMS_JAVA_HOME }}/lib:{{ DB2_JAVA_HOME }}/jdbc/lib:{{ DB2_JAVA_HOME }}/lib